mmix-doc.dvi
mmix-doc.idx
mmix-doc.log
mmix-doc.ps
mmix-doc.scn
mmix-doc.tex
mmix-doc.toc
mmix-sim.dvi
mmix-sim.idx
mmix-sim.log
mmix-sim.ps
mmix-sim.scn
mmix-sim.tex
mmix-sim.toc
mmixal.dvi
mmixal.idx
mmixal.log
mmixal.ps
mmixal.scn
mmixal.tex
mmixal.toc
mmix.eps
mmix.log
mmix.mpx
lhplain.ini
tex.fmt
tex.log
